.post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 1000px;
    width: 90%;

    padding: 20px;
    background: var(--white);
    border-radius:10px;
}

.post__poster {
    background: var(--semiWhite);
    width:270px;
    height:180px;
    border-radius: 4px;
}

.post__poster-image {
    width:270px;
    height:180px;
    border-radius: 4px;
}

.post__info {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 30px;
}

.post__info-inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post__info-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post__info-btn-primary {
    border: none;
    background: var(--primary);
    color: var(--white);
    border-radius: 4px;
    text-decoration: none;
    padding:10px 30px;
    margin-right: 10px;
}

.post__info-btn-primary:hover {
    background: var(--link);
    cursor: pointer;
}

.post__info-btn-secondary {
    border:none;
    background: var(--white);
    padding: 8px;
    width: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin:0 5px;
}

.post__info-btn-secondary:hover {
    background: var(--semiWhite);
}

.post__info-btn-secondary > img:last-child {
    display: none;
}

.post__info-btn-secondary:hover > img:first-child {
    display: none;
}

.post__info-btn-secondary:hover > img:last-child {
    display: flex;
}

.post__info-views {
    color: #cdcdcd;
}

.post__info > h2 {
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 5px;
}

.post__info > p {
    font-weight: 500;
    color: var(--gray);
    margin-bottom: 25px;
}

@media screen and (max-width: 755px) {
    .post {
        flex-direction: column;
        align-items: flex-start;
    }

    .post__poster, .post__poster-image, .post__info {
        width: 100%;
    }

    .post__info {
        width: 95%;
        margin-left: 0;
    }
}

@media screen and (max-width: 525px) {
    .post__info-inline {
        flex-direction: column;
        align-items: flex-start;
    }

    .post__info-views {
        margin-top: 10px;
    }
}
